<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/bootstrap/docs/favicon.ico">

    <title>学习展示</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/static/bootstrap/docs/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
    <script src="/static/bootstrap/docs/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/static/bootstrap/docs/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">人脸识别系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/">算法展示<span class="sr-only">(current)</span></a></li>
            <li><a href="/desc">建模详情</a></li>
            <!--<li><a href="#">Classfication Cifar10</a></li>-->
            <li><a href="#"></a></li>
          </ul>
          <!--<ul class="nav nav-sidebar">-->
            <!--<li><a href="">Nav item</a></li>-->
            <!--<li><a href="">Nav item again</a></li>-->
            <!--<li><a href="">One more nav</a></li>-->
            <!--<li><a href="">Another nav item</a></li>-->
            <!--<li><a href="">More navigation</a></li>-->
          <!--</ul>-->
          <!--<ul class="nav nav-sidebar">-->
            <!--<li><a href="">Nav item again</a></li>-->
            <!--<li><a href="">One more nav</a></li>-->
            <!--<li><a href="">Another nav item</a></li>-->
          <!--</ul>-->
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">原始图像</h1>

            <div class="col-md-12 ">
                <div class="row placeholder_btn" >
                    <a class="btn btn-primary" href="/?is_flush=1&dataset=lfw">下一组LFW</a>
                    <a class="btn btn-primary" href="/?is_flush=1&dataset=vgg">下一组VGG</a>
                </div>
            </div>
          <div class="row placeholders">
            {% for face in origin_face %}
              <div class="col-md-3 placeholder" align="left">
                <img src={{face.data}}  height="250" width="250"  alt="加载失败">
                <p></p>
                <h4>{{face.name}}</h4>
                <span class="text-muted">{{face.label}}</span>
                <br>
                <div class="row placeholder">
                    <div class=" col-md-1 ">
                        <form class="btn-default" action='/' method="POST">
                            <input type="hidden" name="id" value="{{face.id}}">
                            <input type="hidden" name="method" value="dlib">
                            <input type="submit" value="Dlib识别">
                        </form>
                    </div>
                    <div class="col-md-1 col-md-offset-2">
                        <form class="btn-default" action='/' method="POST">
                            <input type="hidden" name="id" value="{{face.id}}">
                            <input type="hidden" name="method" value="face-net">
                            <input type="submit" value="MyModel">
                        </form>
                    </div>
                </div>
              </div>

            {% endfor %}
          </div>



            {% if rec_face%}

            <h1 class="page-header">识别结果</h1>
          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder ">
                  <img src={{rec_face.data}} width="300" height="300" class="img-responsive" alt="加载失败">
                  <h4>{{rec_face.name}}</h4>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <p>检测结果详细信息</p>
                <table class="table .table-bordered">

                    {% for key, val in rec_face.rec_info.items() %}
                    <tr >
                        <td class=".active ">{{ key }}</td>
                        <td class=".active info">{{ val }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
          </div>
            {% endif %}

          <h1 class="page-header">模型说明</h1>
          <div class="row placeholder">
              <p>
                  "Dlib识别"是调用的Dlib库的人脸识别方法, MyModel这是我自己训练的人脸检测模型
              <h4> 模型详细: <a href="https://github.com/zc-play/face-model">GitHub</a></h4>
              <h4> 模型部署: <a href="https://github.com/zc-play/rpc-server">GitHub</a></h4>
              <h4> Web平台: <a href="https://github.com/zc-play/face-web">GitHub</a></h4>
              </p>
              <br>
              <p>因为我自己没有GPU服务器, 就在阿里云买的按量收费的GPU实例，
                  所以训练数据比较少，总共只有2622个人，总图像大概有七八万;  训练的Epochs也比较少，模型的准确度不那么高。</p>
              <p>VGG-FACE数据集上检测准确率更高(训练集同分布)，LFW上更低； 正脸检测Bundling box的概率比侧脸相对大一些 </p>
              <br>
              <small>最后就是, 前端UI有点丑的。 囧。。</small>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../static/bootstrap/docs/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/static/bootstrap/docs/dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="/static/bootstrap/docs/assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/bootstrap/docs/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
